/* Resetando o css dos navegadores*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Começa aqui*/
.html, body{
    font-family: 'Poppins', sans-serif;
}
.apresenta{
    background: url("../Images/background.png") no-repeat center 0;
    width: 100%;
    height: 50rem;
    padding-top: 40px;
}
.apresenta-box{
    padding-top: 7rem;
}
.center{
    width: 1500px;
    margin: auto;
}
.titulo{
    color:coral;
    font-size: 3.5rem;
    font-weight: 600;
    }
.subtitulo{
    font-size: 2.5rem;
    font-weight: 600;
    color: #218e89;
    line-height: 3rem;
}
.descri-apresenta{
    font-size: 1.2 rem;
    font-weight: 400;
    color:slategray;
    padding-bottom: 3.5rem;
    line-height: 1.7rem;
}

.bt-descri{
    font-size: 1.06rem;
    font-weight: 600;
    color: snow;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 0.4rem;
    background-color: rgba(33,142,137,0.7);
    
}
.bt-descri:hover {
    transition: 0.3s;
    background-color:rgba(33,142,137,1.5);

}

.texto-apresenta{
    padding-top: 8rem;
    width: 50%;
    float: left;
}

.img-apresenta{
    width: 50%;
    height: 80%;
    float: right;
    border-radius: 0.4rem;

}
.menu{
    float: right;
}
.menu_li{
    float: left;
    margin: 0 10px;
}
.menu__link{
    color: snow;
    text-decoration:none;
    font-size: 1rem;
    line-height: 16px;
}    
.logo{
    
    float: left;
}

.logomarca{
    margin-top: -30px;
    width: 12rem;
    height: 5rem;
    background: url("../Images/Dualize.png") no-repeat 0 0;
    display: block;
}
.clear{
    clear: both;
}

.bt-login {
    font-size: 1.06rem;
    font-weight: 600;
    color: snow;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 0.4rem;
    background-color: rgba(255,114,0,0.5);
    margin-left: 30px;
}
.bt-login:hover {
    transition: 0.3s;
    background-color:rgba(255,114,0,2);

}
.bt-cadastro {
    font-size: 1.06rem;
    font-weight: 600;
    color: snow;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 0.4rem;
    background-color: rgba(224,42,98,0.4);
}
.bt-cadastro:hover {
    transition: 0.3s;
    background-color:rgba(224,42,98,1);

}

.apresenta-livros{
    padding-top: 3rem;
    padding-left: 12rem;
    
    
}


.livros{
    width: 20rem;
    height: 25rem;
    background-color: lavender;
    display:inline-block;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    border-radius: 0.3rem;
}
.h2apresenta-livros{

    color:indigo;
    font-size: 2.5rem;
    font-weight: 500;
    padding-left: 29rem;
}
.h3apresenta-livros{
    font-size: 2.5rem;
    font-weight: 400;
    color: #218e89;
    line-height: 3rem;
    padding-left: 30.5rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
}
.titulolivros{
    color:coral;
    font-size: 2rem;
    font-weight: 300;
    padding-top: 20rem;    
    text-decoration: none;
    
}
.efeitonda{
}